[D-BUS Service]
Name=org.freedesktop.FileManager1
Exec=/nix/store/sys8jqv7mdwgbibbfavlmlf0ddlv1l51-elementary-files-6.3.0/bin/io.elementary.files-daemon
